In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('./occupations.csv')

In [6]:
df

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [5]:
df.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [8]:
df['gender'].value_counts()

M    670
F    273
Name: gender, dtype: int64

In [10]:
df['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [28]:
df_f = df.loc[df['gender'] == 'F', :]
df_m = df.loc[df['gender'] == 'M', :]

In [33]:
df_f['occupation'].value_counts().sort_values(ascending=False)

student          60
other            36
administrator    36
librarian        29
educator         26
writer           19
artist           13
healthcare       11
marketing        10
homemaker         6
programmer        6
none              4
salesman          3
executive         3
scientist         3
engineer          2
entertainment     2
lawyer            2
technician        1
retired           1
Name: occupation, dtype: int64

In [34]:
df_m['occupation'].value_counts().sort_values(ascending=False)

student          136
educator          69
other             69
engineer          65
programmer        60
administrator     43
executive         29
scientist         28
writer            26
technician        26
librarian         22
entertainment     16
marketing         16
artist            15
retired           13
lawyer            10
salesman           9
doctor             7
none               5
healthcare         5
homemaker          1
Name: occupation, dtype: int64

In [37]:
df['Getting up']

KeyError: 'Getting up'