In [4]:
import numpy as np
import pandas as pd

pandas에 담을 수 있는 dtype(데이터 타입) 몇 가지를 살펴봅시다.

In [5]:
dtype = ['int64', 'float64', 'object', 'bool', 'datetime64', 'category']
explain = ['정수', '소수', '텍스트', '불린(참과 거짓)', '날짜와 시간', '카테고리']

In [6]:
data = {'dtype': dtype,
        '설명': explain}

In [7]:
df1 = pd.DataFrame(data)

In [8]:
df1

        dtype         설명
0       int64         정수
1     float64         소수
2      object        텍스트
3        bool  불린(참과 거짓)
4  datetime64     날짜와 시간
5    category       카테고리